<div class="footer">
  <div class="container">
    <div class="items">
      <div class="footer-card">
        <p><strong>Coin Squirrel</strong></p>
        <p>About us</p>
        <p>Newsletter</p>
        <p>Jobs</p>
      </div>
      <div class="footer-card">
        <p><strong>Legal</strong></p>
        <p>Cookies</p>
        <p>Data protection</p>
        <p>Terms and conditions</p>
      </div>
      <div class="footer-card">
        <p><strong>Help</strong></p>
        <%= mail_to "me@domain.com" do %>
        <p>Contact</p>
        <% end %>
        <p>FAQ</p>
      </div>
      <div class="footer-card">
        <p><strong>Rheinbay Ventures UG (haftungsbeschraenkt)</strong></p>
        <p>Coin Squirrel</p>
        <p>Behaimstraße 6</p>
        <p>10585 Berlin</p>
        <p>Germany</p>
      </div>
    </div class="footer-link">
      <h1><i class="fab fa-instagram"></i> <i class="fab fa-facebook-square"></i> <i class="fab fa-twitter-square"></i></h1>
  </div>
</div>
