<div class="partner-card card-shadow-light">

    <%= cl_image_tag partner.card_image_url, class:"card_head"%>

  <div class="card_body">
      <p>
        <%= partner.name %>
        <%= partner.user_commission_perc %>
      </p>
  </div>
</div>
