<div class="partner-card card-shadow-light">
  <div class="card_head">
    <%= image_tag partner.card_image %>
  </div>
  <div class="card_body">
      <p>
        <%= partner.name %>
        <%= partner.user_commission_perc %>
      </p>
  </div>
</div>
