.section {
  padding: 50px 0 0 0;
  text-align: center;

  h2 {
    font-size: 32px;
    color: rgb(145, 145, 145);
    margin-bottom: 50px;
  }

  h1 {
    margin-bottom: 50px;
  }
}

body {
  padding-top: 70px;
}

.page-background {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 32px;
    color: rgb(145, 145, 145);
    margin-bottom: 30px;
  }
}

// .center-page-innen {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);

//   @media screen and (max-width: 760px) {
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   }
// }
