<% amount = (current_user.balance_cents * current_user.game.exchange_rates.where(currency_origin_short: "EUR").last.rate / 100).round(0) %>

<div class="navbar-wagon-item">
  <div class="dropdown">
    <%= link_to new_transaction_path do %>
    <div class="balance-wrapper">
      <div class="balance pure-balance">
        <span class="balance-number"><%= number_with_precision(amount.to_i, precision: 0, delimiter: ',') %></span>
        <%= cl_image_tag current_user.game.currency_image, class: "balance-currency" %>
      </div>
      <div class="balance payouts-link hidden">
        <span class="balance-number">PAY OUT</span>
      </div>
    </div>
    <% end %>
  </div>
</div>
