<div class="container">
  <br>
  <h2>About us</h2>

  <p>We at Coin Squirrel are passionate gamers.</p>

  <p>Therefore, we offer one of Germany’s first virtual incentive models focused purely on gamers.</p>

    <p>This allows our customers to earn virtual in-game currencies or items for their favorite game whenever the shop on of our partner websites online.</p>

    <p>Additionally, we combine the interests of large groups of gamers allowing us to gain access to those currencies and items at lower prices than usual. We are passing the savings to our customers and thus are able to provide higher rewards for a purchase than any other cashback model.</p>

  <p>We strive to provide an even better plattform to our customers by giving access to current offers of their favorite game's item store right in our app and are aiming at providing additional value by offering access to game stats very soon.</p>

  <div style="height:300px"></div>
</div>
  <%= render "components/footer" %>
