<!-- Banner -->
<div class="banner">
  <div class="container">
    <h1>Coin Squirrel</h1>
    <p>Earn in-game rewards for your favorite game by shopping online</p>
    <!--  Search Form  -->
    <!-- change root path to Game#Show Path -->
    <%= form_tag root_path, class:"form-inline",method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
      placeholder: "Fortnite, Dota2, ..."
      %>
      <%= submit_tag "Find Game", class:"btn btn-medium-solid" %>
      <% end %>
    </div>
  </div>

  <!-- Content -->
  <div class="background-card card-shadow-strong card-tmm-60">
  <div class="card-content-section">
    <div class="how-works">
      <div class="step-cards">
        <div class="steps-card" id="search">
          <i class="fas fa-search fa-6x"></i>
          <div>
            <p>Find your favorite game and checkout newest in-game offers</p>
          </div>
        </div>
        <div class="steps-card" id="create">
          <i class="fas fa-user-plus fa-6x"></i>
          <div>
            <p>Create a free acount and have unlimited access to coin squirrel services</p>
          </div>
        </div>
        <div class="steps-card" id="book">
          <i class="fas fa-shopping-cart fa-6x"></i>
          <div>
            <p>Easily access all our partners and shop online</p>
          </div>
        </div>
        <div class="steps-card" id="check">
          <i class="fas fa-check-circle fa-6x"></i>
          <div>
            <p>Earn coins for every purchase you make and save for your favorite item</p>
          </div>
        </div>
        <div class="steps-card" id="teach">
          <i class="fas fa-coins fa-6x"></i>
          <div>
            <p>Pay out your balance and recieve a gift card to buy the item you were saving for</p>
          </div>
        </div>
      </div>
      <div class="information-card">
      </div>
    </div>
  </div>
</div>













































  <%= render 'components/footer' %>
