<div class="container">
  <h2>Allgemeine Geschäftsbedingungen</h2>

  <p><strong>Coin Squirrel</strong> wird von der</p>

  <p>Rheinbay Ventures UG (haftungsbeschränkt)
  <p>Behaimstraße 6</p>
  <p>10585 Berlin</p>

  <p>betrieben. Die Rheinbay Ventures UG (haftungsbeschränkt) wird zu Vereinchfarung nachfolgend “Anbieter” genannt.</p>

  <p>Sie, unsere Nutzerinnen und Nutzer,
  nennen wir zur Erhaltung der Lesbarkeit in unseren
  Allgemeinen Geschäftsbedingungen
  "Nutzer".</p>

  <h4>Präambel</h4>
  <p>Der Anbieter stellt einen gebührenfreien Service für Privatanwender mit Wohnsitz in einem Mitgliedsstaat der Europäischen Union (EU) zur Verfügung, welcher bis zum 19.02.2018 unter der Domain www.coinsquirrel.de (nachfolgend “Domains”), registrierten Nutzern die Teilnahme an dem nachfolgend beschriebenen Cashback-Programm eröffnet.</p>

  <p>Dafür stellt der Anbieter unter den Domains eine Serviceplattform zur Verfügung, die dem Nutzer im vorstehend angegebenen Zeitraum den Zugriff auf eine Vielzahl von Partnerunternehmen ermöglicht (nachfolgend “Plattform”). Bei Bezug von Dienstleistungen und Waren über eines dieser Partnerunternehmen des Anbieters, erhält der Nutzer unter den nachfolgenden Bedingungen eine Provision (nachfolgend “Cashback”). Der Cashback wird i.d.R. umgerechnet in die vom Nutzer gewählte Spielewährung angezeigt. Das Spiel und die entsprechende Währung können vom Nutzer in seinem Konto geändert werden.</p>

  <h4>§1 Geltungsbereich, Begriffsbestimmungen</h4>

  <p>Für die Geschäftsbeziehung zwischen dem Anbieter und dem Nutzer gelten vorbehaltlich einer ausdrücklichen anderslautenden individualvertraglichen Vereinbarung ausschließlich die nachfolgenden Allgemeinen Geschäftsbedingungen (nachfolgend AGB).</p>
  <p>Das Angebot richtet sich an Verbraucher. Für Zwecke dieser AGB ist ein Verbraucher jede natürliche Person, die den Vertrag zu einem Zweck abschließt, der weder ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden kann (§ 13 des Bürgerlichen Gesetzbuches – BGB).</p>

  <h4>§2 Teilnahme/ Registrierung/ Account</h4>

  <p>Der Anbieter bietet jeder natürlichen, privaten Person, die das 18. Lebensjahr vollendet und ihren Wohnsitz in einem Mitgliedsstaat der Europäischen Union (EU) hat, die Möglichkeit sich auf der Plattform mit Angabe einer E-Mail-Adresse zu registrieren und damit am Cashback-Programm teilzunehmen.</p>
  <p>Um einen Account einrichten und Nutzer werden zu können, muss der Nutzer sich registriert und den AGB zugestimmt haben. Die Registrierung kann nur erfolgen, wenn der Nutzer durch Markieren des Feldes „Ich stimme den AGB und den Datenschutzbestimmungen zu“ diese AGB und Datenschutzerklärung akzeptiert und dadurch in seine Registrierung aufgenommen hat.</p>
  <p>Die Teilnahme ist kostenlos. Davon unberührt bleiben etwaige Zahlungspflichten des Nutzers im Zusammenhang mit Einkäufen und Bestellungen bei Partnerunternehmen des Anbieters.</p>
  <p>Der Nutzer hat bei seiner Registrierung auf der Plattform für Richtigkeit, Vollständigkeit und Aktualität der Angaben Sorge zu tragen und teilt dem Anbieter Änderungen umgehend über seinen Account mit. Bis zu einer solchen Änderung oder Unterrichtung ist der Anbieter berechtigt – aber nicht verpflichtet – die bisherigen persönlichen Daten und Bankverbindungen des Nutzers für alle Informationen und alle Auszahlungen aus dem Cashback-Account zu verwenden.</p>
  <p>Nach erfolgreicher Registrierung wird dem Nutzer ein Account eingerichtet. Der Nutzer hat jederzeit die Möglichkeit, Einsicht in seine bisherigen Aktivitäten und seinen derzeitigen Account-Stand zu nehmen.</p>
  <p>Der Nutzer ist nicht berechtigt, verschiedene Accounts mit unterschiedlichen persönlichen Daten anzulegen.</p>
  <p>Der Nutzer führt keinen Missbrauch oder Betrug über seinen Account durch oder schadet dem Anbieter in anderer Weise durch Nutzung.</p>
  <p>Der Nutzer garantiert, dass weder er, noch sein Account mit Spam in Verbindung stehen und keine externen Links auf die Plattform gesetzt wurden, um damit Geld zu verdienen. Hiervon ausgenommen sind externe Links von Partnern des Anbieters, für die der Anbieter Empfehlungsdienste, wie insbesondere Freunde-Werben-Freunde-Programme betreibt. Es ist nicht gestattet, Affiliate-Links des Anbieters auf anderen Webseiten einzubinden oder in Spam-E-Mails zu versenden. Dies gilt nicht für Links des Freundschaftswerbungsprogrammes unter den hier definierten Bedingungen. Der Nutzer darf daher z.B. seinen persönlichen Freundschaftswerbungslink auf seiner eigenen Homepage oder seinem eigenen Blog verwenden.</p>
  <p>Der Anbieter ist berechtigt, den Antrag zur Teilnahme an seinem Cashback-Programm ohne Angaben von Gründen abzulehnen oder nicht anzunehmen.</p>
 <p>Der Anbieter ist unter den in § 6 genannten Gründen berechtigt, den Account des Nutzers zu schließen und ihn von der Teilnahme auszuschließen.</p>

  <h4>§3 Cashback-Voraussetzungen</h4>

  <p>Der Anbieter nutzt auf der Plattform Affiliate-Marketing, sodass die Links zu den Partnershops mit einem Affiliate-Link von einem Affiliate-Programm generiert werden, um Provisionen auf die Verkäufe zu erhalten.</p>
  <p>Bei Affiliate-Marketing handelt es sich um Partnerprogramme, bei denen der Affiliate-Netzbetreiber Website-Betreibern die Möglichkeit bietet, durch die Schaltung von Werbung für Produkte oder Dienstleistungen eines Händlers Vermittlungsprovisionen zu erhalten. Beim Affiliate-Marketing wird ein sogenannter Tracking-Link verwendet, um elektronisch speichern zu können, dass der Nutzer über die Plattform den Händler besucht und dort eingekauft hat.</p>
  <p>Ein Cashback wird nur dann ausgeschüttet, wenn der Nutzer in seinem Account eingeloggt ist und den Partnershop des Anbieters über den Link "Zum Shop und Cashback verdienen" besucht und dann dort direkt einkauft, ohne in der Zwischenzeit andere Seiten aufzurufen, die den Tracking-Prozess unbemerkt stören könnten.</p>
  <p>Der Anspruch auf Auszahlung dieses Cashbacks (§ 3 Abs. 1) steht aufgrund der Affiliate-Schaltung und -Nutzung dem Anbieter gegenüber dem Partnershop zu. Die Auszahlung an den Anbieter kann mehrere Monate in Anspruch nehmen.</p>
  <p>Mit Auszahlung der Provision an den Anbieter erhält der Nutzer unter den im Folgenden genannten kumulativen Voraussetzungen einen Anspruch auf Auszahlung des Cashbacks gegenüber dem Anbieter:</p>
  <ul>
  <li>endgültige und widerspruchslose Provisionsausschüttung an den Anbieter;</li>
  <li>ein Anspruch auf Cashback steht dem Nutzer nur zu, wenn er sich mit seinen Benutzerdaten („Account“, § 2) auf der Plattform anmeldet und den Einkauf über den bereitgestellten Affiliate-Link / Tracking-Link („Zum Shop und Cashback verdienen“) tätigt (§ 3 Abs. 1, 2). Wird der Tracking-Prozess durch zwischenzeitliches Aufrufen anderweitiger Internetseiten oder aufgrund von Einstellungen am Computer des Nutzers gestört, entsteht kein Anspruch auf Cashback.</li>
  <li>erfolgreicher Geschäftsabschluss zwischen dem Nutzer und einem Partnerunternehmen;</li>
  <li>Annahme der gelieferten Ware am Versandbestimmungsort und vollständige Zahlung;</li>
  <li>Ablauf einer etwaigen gesetzlichen oder vertraglich vereinbarten Widerrufsfrist;</li>
  <li>keine Rückgängigmachung, Stornierung, Ablehnung oder Aberkennung gleich aus welchem Grund, durch den Händler oder das Netzwerk oder den Nutzer, einer Bestellung.</li>
  </ul>
  <p>Die Höhe des Anspruchs auf Cashback kann der Nutzer wie nachfolgend einsehen, bevor er auf den Link zum Partnershop klickt:</p>
  <p>Je nach Partnerunternehmen gelten unterschiedliche Cashbacks. Alle Partnerunternehmen des Anbieters haben auf der Plattform eine Händlerseite. Auf dieser Seite wird der Cashback-Betrag als Fixbetrag und/ oder als Prozentangabe anhand des Netto-Warenwertes (exkl. Steuer und Versand) angegeben, den der Nutzer für gültige, vollständige Einkäufe (§ 3 Abs. 4) bekommt. Diese Angaben stellen lediglich einen Hinweis dar und sind für den Anbieter nicht verbindlich. Das Partnerunternehmen kann, bestimmte Waren oder Dienstleistungen vom Cashback ausnehmen und die Höhe der Provisionen ändern. Maßgeblich ist daher die vom Anbieter erteilte Auskunft über die ihm gegenüber durch das Partnerunternehmen tatsächlich gewährte Provision.</p>
  <p>Die Angaben beziehen sich stets auf ein Netto-Cashback (§ 1 Abs. 2).</p>
  <p>Es gilt das jeweils zum Ausschüttungszeitpunkt durch das Partnerunternehmen an den Anbieter aktuelle Cashback. Das angegebene Cashback ist nicht bindend (§ 3 Abs. 5 (a)) und kann, falls eine Änderung der Provision des Partnerunternehmens vorliegt, nachträglich angepasst werden.
  Gleiches gilt, falls der Betrag der Bestellung des Nutzers geändert wird. Der Nutzer erhält auch dann das angepasste Cashback vom Anbieter. Der Nutzer kann jedoch gem. § 5 Abs. 2 und 3 vorgehen.</p>
  <p>Bei diesbezüglich ausdrücklich vom Anbieter gekennzeichneten Angeboten, erhält der Nutzer zusätzlich zu dem vorstehend beschriebenen Cashback einen Wertgutschein, sofern er die hierfür im Einzelfall aufgestellten Bedingungen vollständig erfüllt. Die konkreten Bedingungen sind dem jeweiligen Angebot zu entnehmen. Voraussetzung für den Erhalt ist das Entstehen eines wirksamen Provisionsanspruchs gemäß § 3 Ziffern 2 – 4 dieser AGB. Der Wertgutschein wird per E-Mail in Form eines Gutscheincodes nach erfolgreicher Verifizierung eines Bestätigungslinks überlassen.</p>

  <h4>§4 Auszahlungshinweise</h4>

  <!-- CONTINUE FORMATTING HERE -->
  Für jeden auf der Plattform registrierten Nutzer wird ein Account eingerichtet. Nachdem der Anbieter über einen Einkauf des Nutzers benachrichtigt wurde, wird im Account des Nutzers ein vorläufiger Betrag als vorgemerkt angezeigt und später als „bestätigt“ oder „abgelehnt“ gekennzeichnet.
  Auszahlungen werden unter Verwendung der vom Nutzer selbst hinterlegten Daten getätigt. Der Anbieter übernimmt keine Verantwortung für die Richtigkeit dieser Daten und ist entsprechend nicht haftbar falls diese Daten fehlerhaft sind.
  Nutzer können jederzeit eine Auszahlung einleiten, jedoch kann die Auszahlung erst erfolgen, wenn der Status des Cashbacks als „verfügbar“ gekennzeichnet ist. Der Mindestauszahlungsbetrag beträgt umgerechnet 1 Euro für eine Auszahlung per virtueller Währung. Der Anbieter behält sich vor, im Rahmen von Einzelangeboten hiervon abweichende Mindestauszahlungsbeträge festzulegen, die der vorstehenden Regelung vorgehen.
  Das auf dem Account verbuchte Cashback des Nutzers wird nicht verzinst.
  Der Nutzer hat die Möglichkeit alternative Spiele-Währungen zur Auszahlung zu wählen oder sich, wenn verfügbar, auch in Form von Waren- und/oder Wertgutscheinen auszahlen lassen.
  Warengutscheine können gegen die konkret im Zusammenhang mit dem Gutschein benannte Ware eingetauscht werden; Wertgutscheine entsprechen demgegenüber dem konkret im Zusammenhang mit dem Gutschein bezeichneten Geldwert. Der Nutzer wählt in beiden Varianten einen Gutschein aus und erhält nach dem Klick auf "Auszahlen" innerhalb weniger Minuten eine E-Mail mit einem Bestätigungslink, der den Nutzer unmittelbar zu dem ausgewählten Gutscheincode führt. Der Anbieter gewährt abhängig vom jeweils gewählten Gutschein weitere Boni, die dem Wert des Gutscheins unmittelbar hinzugesetzt werden. Weitere Bedingungen, unter denen einzelne Gutscheine eingelöst werden können, ergeben sich aus den jeweiligen Gutscheinbeschreibungen im Rahmen der Gutscheinauswahl.
  Die Gebühren variieren je nach gewählter Auszahlungsmethode, die aktuellen Gebühren der jeweiligen Methode werden bei Anforderung der Auszahlung auf der Auszahlungsseite angezeigt. Der Anbieter erhebt keine Auszahlungsgebühren, es werden lediglich die Gebühren der Zahlungsanbieter in Ansatz gebracht.
  Abtretungen von Auszahlungsansprüchen des Nutzers aus dem Account bedürfen zu ihrer Wirksamkeit der vorherigen Zustimmung durch den Anbieter.
  Der Anbieter kann die Art und Weise, wie er Nutzer auszahlt unter folgenden Bedingungen jederzeit ändern. Der Anbieter wird den Nutzer auf die Änderung mindestens sechs Wochen vor dem Inkrafttreten hinweisen. Dem Nutzer steht hierdurch ein sofortiges Kündigungsrecht zu, welches zum Zeitpunkt der Änderung wirksam wird. Kündigt der Nutzer nicht, so gilt die Änderung als genehmigt.
  In diesem Falle muss sich der Nutzer an die dann gültigen, neuen Bedingungen halten, um ausgezahlt werden zu können. Der Anbieter wird den Nutzer in der Änderungsmitteilung auf die Folgen seines Verhaltens hinweisen.
  Ein Anspruch auf Auszahlung über das auf dem Account gutgeschriebene Cashback verjährt bei Nichtnutzung des Accounts (inaktiver Account: § 6 Abs. 3) gemäß der gesetzlichen Verjährungsvorschriften.

  <h4>§5 Fehlermeldung</h4>

  Der vom Anbieter mitgeteilte Account-Stand gilt zwischen dem Anbieter und dem Nutzer als richtig.
  Sofern der Nutzer denkt, dass
  Cashback nicht richtig im Account angezeigt wird oder fehlt,
  seine Bestellungen vom Händler fälschlicherweise abgelehnt wurde,
  ein Fehler beim Tracking-Prozess vorlag,
  oder sonstige Unstimmigkeiten auffallen, kann er über das Anfragensystem des Anbieters in seinem Plattform-Account eine Rückfrage hierzu stellen.Cashback nicht richtig im Account angezeigt wird oder fehlt,
  seine Bestellungen vom Händler fälschlicherweise abgelehnt wurde,

  ein Fehler beim Tracking-Prozess vorlag,
  oder sonstige Unstimmigkeiten auffallen, kann er über das Anfragensystem des Anbieters in seinem Plattform-Account eine Rückfrage hierzu stellen.

  der Nutzer die Dienste des Anbieters stört oder diese missbräuchlich nutzt / manipuliert,

  der Nutzer die Löschung seiner Daten verlangt,

  der Nutzer der Datenschutzerklärung nicht zustimmt oder die Zustimmung zu dieser widerruft,

  der Nutzer gegen diese AGB verstößt; oder

  der Nutzer sonstige Pflichten dieser AGB fortgesetzt und/oder schwerwiegend verletzt

  und eine Fortsetzung des Vertrages für den Anbieter aus diesem Grunde nicht zumutbar ist.

  <h4>§6 Laufzeit/ Kündigung</h4>

  Die Teilnahme gilt unbefristet.
  Der Nutzer kann die Teilnahme jederzeit ohne Angaben von Gründen durch Löschung seines Accounts ordentlich kündigen.
  Der Anbieter hat das Recht, die Teilnahme mit einer Frist von sechs Monaten ordentlich zu kündigen und den Account aufzulösen.

  Der Anbieter behält sich insbesondere das Recht vor, inaktive Accounts zu löschen.
  Ein Account gilt als inaktiv, wenn der Nutzer über einen Zeitraum von mehr als zwölf Monaten keine Aktionen mehr auf der Plattform vorgenommen, sich insbesondere dort nicht mehr eingeloggt hat. Vor Löschung eines inaktiven Accounts, wird der Anbieter versuchen, den Nutzer über die angegebene E-Mail-Adresse mit einer Mahnfrist von 365 Kalendertagen anzuschreiben.
  Falls der Nutzer einer Löschung nicht innerhalb dieser Frist widerspricht oder Aktionen über den Account vornimmt, wird der Account gelöscht.
  Befindet sich zum Zeitpunkt der ordentlichen Kündigung bestätigtes Cashback auf dem Account, wird dieses ungeachtet der Auszahlungsgrenze ausgeschüttet.
  Der Anbieter wird von der Verpflichtung zur Auszahlung eines etwaigen Cashbacks befreit, sofern die von dem Nutzer angegebene Kontoverbindung nicht existiert und/oder einem anderen Kontoinhaber zuzuordnen ist.
  Das Recht zur außerordentlichen Kündigung aus wichtigem Grund bleibt für beide Seiten unberührt. Ein wichtiger Grund für eine außerordentliche Kündigung durch den Anbieter liegt insbesondere dann vor, wenn
  sich ein Nutzer unter Angabe verschiedener Namen und/oder E-Mail-Adressen mehrfach auf der Plattform registrieren lässt,
  der Nutzer die Dienste des Anbieters stört oder diese missbräuchlich nutzt / manipuliert,

  der Nutzer die Löschung seiner Daten verlangt,

  der Nutzer der Datenschutzerklärung nicht zustimmt oder die Zustimmung zu dieser widerruft,

  der Nutzer gegen diese AGB verstößt; oder

  der Nutzer sonstige Pflichten dieser AGB fortgesetzt und/oder schwerwiegend verletzt

  und eine Fortsetzung des Vertrages für den Anbieter aus diesem Grunde nicht zumutbar ist.

  Der Anbieter ist berechtigt, bei Kündigung den Login-Namen und das Passwort des Nutzers zu deaktivieren und sämtliche Daten, die der Nutzer an den Anbieter übermittelt hat oder die der Anbieter an den Nutzer übermittelt hat, zu löschen. Der Anbieter ist hierzu verpflichtet, sofern er diese Daten nicht weiterhin für Abrechnungs- oder Nachweiszwecke benötigt.

  <h4>§7 Haftung</h4>

  Durch die Registrierung und die Teilnahme am Cashback-Programm des Anbieters entsteht keine Vertragsbeziehung zwischen dem Nutzer und den Partnerunternehmen.

  Der Anbieter stellt lediglich über die Plattform Angebote der jeweiligen Partnerunternehmen dar.

  Der Anbieter handelt nicht als Vertreter dieser Partnerunternehmen.

  Vertragsabschlüsse im Rahmen der Einkäufe bei den Partnerunternehmen kommen ausschließlich zwischen dem Nutzer und dem Partnerunternehmen zustande.

  Der Anbieter übernimmt keine Haftung aufgrund von Pflichtverletzungen aus Verträgen, die im Rahmen der Einkäufe und Bestellungen zwischen dem Nutzer und Partnerunternehmen bestehen.

  Alle Angelegenheiten, die direkt mit den Bestellungen und nicht mit Cashback in Zusammenhang stehen, sind ausschließlich Abmachungen zwischen dem Nutzer und dem Partnerunternehmen.

  Der Anbieter haftet daher auch nicht für die Richtigkeit und Vollständigkeit der von seinen Partnerunternehmen übernommenen Informationen.

  Für die Verfügbarkeit, den ordnungsgemäßen Versand und die Mangelfreiheit der Produkte des Partnerunternehmens sowie für dessen Abrechnung ist allein das jeweilige Partnerunternehmen verantwortlich.

  Der Anbieter übernimmt unter den weiteren Voraussetzungen des § 10 TMG keine Verantwortung oder Haftung für den Inhalt von Webseiten, auf die direkte oder indirekte Verweise (Verlinkungen) aus dem Angebot des Anbieters gerichtet sind.

  Da der Anbieter auf den Inhalt und die Gestaltung fremder Webseiten keinen Einfluss hat, distanziert er sich ausdrücklich von dem Inhalt dieser Seiten und macht sich deren Inhalt nicht zu Eigen. Für den Inhalt sind die Anbieter der jeweiligen Website selbst verantwortlich.

  <h4>§8 Rechtsübertragung</h4>

  Der Nutzer gestattet dem Anbieter die vom ihm im Rahmen der Plattform eingestellten Inhalte für die Erbringung seiner mit dem Betrieb der Plattform verbundenen Dienstleistungen zu nutzen und räumt dem Anbieter hierfür die erforderlichen Rechte an den Inhalten unentgeltlich ein. Dieses Nutzungsrecht beinhaltet insbesondere das räumlich und zeitlich unbeschränkte, nicht-exklusive Recht, die Inhalte über die Plattform oder gegebenenfalls anderen Medien öffentlich zugänglich zu machen, sie zu vervielfältigen, zu verbreiten und an Dritte zu übertragen, soweit sich nicht etwas anderes aus den zwischen dem Anbieter und dem Nutzer getroffenen Vereinbarungen ergibt.

  Der Nutzer gestattet dem Anbieter, die eingestellten Inhalte technisch zu bearbeiten, sie insbesondere an die zur Nutzung erforderlichen Formatvorgaben der Plattform anzupassen oder die Darstellungsqualität zu verbessern.

  Die vom Nutzer an den Anbieter übertragenen Rechte erlöschen nicht mit der Löschung der Inhalte von der Plattform und/oder der Löschung des Nutzer-Accounts.

  <h4>§9 Hinweise zur Datenverarbeitung</h4>

  Der Anbieter erhebt im Zusammenhang mit der Teilnahme Daten des Nutzers. Er beachtet dabei insbesondere die Vorschriften des Bundesdatenschutzgesetzes und Telemediengesetzes.

  Ohne Einwilligung des Nutzers wird der Anbieter Daten des Nutzers nur erheben, verarbeiten oder nutzen, soweit dies zur Erfüllung des Vertragszwecks und für die Inanspruchnahme und Abrechnung erforderlich ist.

  Zu den Einzelheiten über Umfang und Verwendung von Daten und weitere Informationen zur Datenerhebung, -verarbeitung und -nutzung wird auf die Datenschutzerklärung verwiesen, die im Rahmen der Plattform jederzeit über den Link „Datenschutzerklärung“ in druckbarer Form abrufbar ist.

  Der Nutzer hat jederzeit die Möglichkeit, die von ihm gespeicherten Daten unter dem Button „Einstellungen“ in seinem Account abzurufen, diese zu ändern oder zu löschen.

  <h4>§10 Sonstiges</h4>

  Sollten einzelne Bestimmungen dieses Vertrags unwirksam sein, berührt dies die Gültigkeit der übrigen Bestimmungen nicht.

  Für den Abschluss und die Abwicklung sämtlicher Verträge gilt das Recht der Bundesrepublik Deutschland. Die Geltung des UN-Kaufrechts wird ausgeschlossen.
  Der Anbieter ist berechtigt, diese AGB unter der Bedingung zu ändern, dass
  eine geänderte Rechtslage, Lücken dieser AGB, vom Anbieter nicht beeinflussbare äußere oder technische Umstände, die Gewährleistung sicherer und Verhinderung missbräuchlicher Nutzung der Dienste des Anbieters, Äquivalenzstörungen oder sonstige notwendige Anforderungen, eine Änderung erforderlich sein lässt
  und
  er dies dem Nutzer spätestens sechs Wochen vor Inkrafttreten der Änderung per E-Mail mitteilt. Dem Nutzer steht hierdurch ein sofortiges Kündigungsrecht zu, welches zum Zeitpunkt der AGB-Änderung wirksam wird. Macht der Nutzer hiervon nicht innerhalb von vier Wochen nach Zugang der Mitteilung Gebrauch, so gilt die Änderung als genehmigt.

  Hierauf wird der Anbieter ausdrücklich in der Mitteilung hinweisen.

  Stand: März 2018</p>


</div>
