<div class=" banner error-banner" style="background-image: url('https://res.cloudinary.com/dmr1qubzk/image/upload/v1552485886/comic_squirell.gif');">

</div>
<div class="error-content">
    <h1>404</h1>
    <h2>Sorry, but the Squirrel couldn't find this page :(</h2>

  </div>
