.banner {
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  height: 80vh;
  padding: 150px 0;
  margin: 0;
}

.banner h1 {
  font-size: 40px;
  margin: 0;
  color: $yellow;
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 26px;
  color: white;
  opacity: .7;
  margin: 3px 0px 15px 0px;
}

// -----------------------------------------------------------------------------

.partners-wrapper {
  background-color: $light-grey;
  margin: 100px -50px 0px -50px;
  padding: 0px 50px 50px 50px;
  display:flex;
  flex-direction: column;
}

.partner-imgs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.partners-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
}

.partners-logo {
  display: flex;
  align-items: flex-end;
  width: 200px;
  margin: 20px 30px;

  img {
    width: 100%;
    filter: grayscale(100%);
  }

  img:hover {
    filter: none;

  }
}

// -----------------------------------------------------------------------------

.arrow-down {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid white;
  margin-bottom: 30px;
}


.cta-banner {
  margin-top: 40px;
  text-align: center;
}

.games-banner {
  a {
    text-decoration: none;
    color: $dark-grey;
  }

  input[type=text] {
    width: 30%;
  }
}

.store-banner {
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  height: 50vh;
  width: 100vw;
  padding: 150px 0;
  margin: 0px;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: left;

  div {
    width: 500px;
    margin-left: 40px;
  }
}
