.btn-medium-solid {
  padding: 12px 30px;
  background-color: $yellow;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  min-width: 120px;

   a {
    text-decoration: none;
    color: $dark-grey;
  }
}

.btn-medium-light {
  background-color: white;
  color: $yellow;
  padding: 12px 30px;
  border-radius: 3px;
  border: 1px solid $yellow;
  font-size: 16px;
  min-width: 120px;

  a {
    text-decoration: none;
  }
}

.btn-light:hover {

}

.btn-large-solid-home {
  padding: 10px 25px;
  background-color: $yellow;
  border-radius: 3px;
  color: $dark-grey;
  font-size: 20px;
  min-width: 120px;

   a {
    text-decoration: none;
  }

}

.btn-large-solid {
  padding: 15px 50px;
  background-color: $yellow;
  border-radius: 3px;
  color: white;
  font-size: 24px;

  a {
    text-decoration: none;
  }

  @media screen and (max-width: 400px) {
    width: 100%;
    font-size: 16px;
  }
}

.btn-large-solid:hover {
}

.btn-admin-sm {
  padding: 5px 10px;
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: $yellow;
  border-radius: 7px;
  text-align: center;
  a {
    color: white;
    margin-bottom: 0;
  }
}

.btn-medium-large-solid {
  width: 300px;
  height: 300px;
  background-color: $yellow;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.btn-medium-large-solid:hover {
  background-color: $dark-yellow;
}

a:hover {
  text-decoration: none;
}

.store-lock {
  color: grey;
}

.store-lock:hover {
  color: red;
}
