.footer {
  background-color: #2E3333;
  color: white;
  padding: 30px 10px;

  h5 {
    text-decoration: none;
    font-size: 24px;
    text-decoration: none;
    color: $yellow;
  }

  a {
    font-size: 14px;
    text-transform: uppercase;
    color: $light-grey;
  }

  a:hover {
    text-decoration: none;
  }

  ul {
    padding: 0px;
  }

  li {
    list-style: none;
    margin-left: -5px;
  }

  p {
    font-size: 14px;
    font-weight: lighter;
  }
}

.footer-card {
  background-color: #434848;
  width: 240px;
  height: 220px;
  margin-top: 30px;
  padding: 15px 10px;
}

.items {
  display: flex;
  justify-content: space-around;
}

.footer-link {
  margin-left: 15px;
}




