.footer {
  background-color: #2E3333;
  color: white;
  height: 350px;
  margin-top: 15px;
}

.footer-card {
  background-color: #434848;
  width: 240px;
  height: 220px;
  margin-top: 30px;
  padding: 15px 10px;
}

.items {
  display: flex;
  justify-content: space-around;
}

.footer-link {
  margin-left: 15px;
}


