#query {
        height: 48px;
  }

.form-actions {
  .btn {
    margin: 0 15px;
    flex: 1 1 auto;
  }
}

.form-delete {
 margin: 20px 0px 0px 0px;
 text-align: center;
 font-size: 14px;

 a {
  color: red;
  text-decoration: none;
  opacity: 0.7;
 }
}

.form-delete:hover {
  a {
    opacity: 0.9;
  }
}

.form-group {
  display: flex;
  margin: 0 0 30px 0;
}

.form-actions {
  display: flex;
}

.input-group-prepend {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.input-group-text {

}

.form-controll {
  margin: 0 20px 0 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid $grey;
  outline: 0;

}

.form-controll:focus {
  border: none;
  border-bottom: 1px solid $yellow;
}

.form-control-file {

}

input[type="file" i] {

}

.form-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


select {
  margin: 0 20px 0 10px;
  width: 100%;
}

select:focus {
  outline-color: $yellow;
}

.form-hide-border {
  border: none;
  color: #757575;
}

.form-link {
  text-decoration: none;
  color: $grey;
}

.form-link:hover {
  text-decoration: none;
  color: $yellow;
}

.material-icons.ghost { opacity: 0; }
