
.flip-card {
  background-color: transparent;
  width: 550px;
  height: 300px;
  border-radius: 5px;
  margin-top: -20px;
  margin-left: 25px;

  img {
    width: 550px;
    height: 300;
    border-radius: 5px;
  }

}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #bbb;
  color: black;
}


.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  border-radius: 5px;
  background-image:
    linear-gradient(
      rgba(242, 194, 55, 1), rgba(242, 194, 55, 0.5)
    );

  img {
    margin-top: 30px;
    height: 250px;
    width: 250px;
    transition: 2s;
  }

  img:hover {
    transform: scale(1.2);
    transition: 2s;
  }
}

.game-card {
  width: 600px;
  height: 400px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  position: absolute;
  margin-top: 100px;
  text-align: center;
}

.game-card-logo {
  width: 200px;
  height: 50px;
  margin-top: 30px;
}
