.store-image {
  height: 300px;
  width: 300px;
  color: black;
}



.store-card {
  display: flex;
  align-items: center;
  background-color: white;
  width: 500px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  background-image:
    linear-gradient(
      #D3AE3D, #E4E4E4
    );

  p {
    color: white;
  }
}

.store-card-content {
  margin-left: 10px;
  width: 400px;
}


.store-progression-green {
  height: 5px;
  width: 500px;
  background-color: #18D569;

}

.store-card-rating {
  margin-bottom: -250px;
  margin-right: 5px;
}


.store-progression-grey {
  width: 500px;
  height: 5px;
  background-color: white;
  display: flex;
  justify-content: right;

}
.store-progression-red {
  height: 5px;
  width: 500px;
  background-color: red;
  margin-left: 0px;

}

.card-progression {
   margin-bottom: 100px;
}
