.store-image {
  height: 175px;
  width: 175px;
  border-radius: 15px;
}

.store-card {
  display: flex;
  align-items: center;
  height: 200px;
  width: 500px;
  background-color: #E4E4E4;
  margin-top: 20px;
  border-radius: 15px;

  img {
    margin-left: -50px;
  }
}

.store-card-content {
  margin-left: 10px;
}

.store-progression-green {
  height: 20px;
  width: 300px;
  background-color: green;
  border-radius: 3px;
}

.store-progression-grey {
  width: 300px;
  height: 20px;
  background-color: white;
  display: flex;
  justify-content: right;
  border-radius: 3px;
}
.store-progression-red {
  height: 20px;
  width: 100px;
  background-color: red;
  margin-left: 0px;
  border-radius: 3px;
}
