<div class="container">
  <br>
<%= link_to 'Payout your Coins', new_transaction_path, class:"btn btn-medium-solid" %>

  <% @transactions.each do |transaction| %>

    <% if transaction.partner_id.nil? %>
      <!-- Card for Payout -->
      <%= render 'components/cashout_card', transaction: transaction %>
    <% else %>
      <!-- Card for Cash In -->
      <%= render 'components/cashin_card', transaction: transaction %>
    <% end %>

  <% end %>
</div>
